.env
.ipynb_checkpoints/
.vscode/
__pycache__/
*.pyc
datasets/sales.json
data_cleaning.log
datasets/orders_flat.csv
datasets/orders_flat.parquet
datasets/data.csv
datasets/data.json
datasets/data.parquet